/* Variables */
:root {
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dark-color: #2E2F42;
  --success-color: #31D0AA;
  --text-color: #434455;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-color: #F4F4FD;
  --modal-overlay-color: rgba(0, 0, 0, 0.05);
  --hero-background-color: #2E2F42;
  --white-color: #ffffff;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

/* Main css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.02em;
  color: var(--text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24/18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding: 96px 0;
}


.logo-header-accent {
  color: var(--dark-color);
}

.page-header {
  border-bottom: 1px solid #E7E9FC;
  padding: 24px 0;
  max-height: 70px;
}
.button-style {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24/16);
  letter-spacing: 0.04em;
  cursor: pointer
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
    font-size: 36px;
    line-height: calc(40/36);
        font-weight: 700;
      color: var(--dark-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
.navigation,
.address {
  display: none;
}
}

 .menu-button {
  background-color: transparent;
border: none;
   transition: var(--transition-duration) var(--transition-timing-function);
 }



/*==============================Hero===============================*/
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 0;
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--dark-color);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-428px.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-428px@2x.jpg);
  }
}

.hero-title {
  max-width: 318px;
  color: var(--white-color);
  margin-bottom: 72px;
  text-align: center;
}

.hero-button-title {
  color: var(--white-color);
  padding: 16px 32px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-duration) var(--transition-timing-function);

}


/*==============================Features============================*/

.features-item-title {
  margin-bottom: 8px;
  text-align: center
}

.features-item-block {
  display: none;
}

.features-item-title {
  color: var(--dark-color);
  margin-bottom: 8px;
}



/*=========================What are we doing========================*/
@media screen and (max-width: 1199px) {
  .our-work-section {
      display: none;
    }
  }


/*=============================TEAM==================================*/

.section-team {
  background-color: var(--light-color);
  padding: 208px 82px 128px;
}

.our-team-title,
.customers-title {
margin-bottom: 72px;
text-align: center;
}

.list-team-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.portfolio-item-title,
.team-member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24/20);
  color: var(--dark-color);
  margin-bottom: 8px;
}

.item-team {
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  margin-bottom: 24px;
}

.section-team {
  background-color: var(--light-color);
}

.block-team-member {
  background-color: var(--white-color);
  padding: 32px 16px;
}

.block-team-member>p {
  margin-bottom: 8px;
}

.team-list-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-item-sns {
  width: 40px;
  height: 40px;
}

.team-link-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.team-link-sns:hover,
.team-link-sns:focus {
  background-color: var(--pressed-state-color);
}

/*===========================Customers================================*/


.list-customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
.customers-list-item {
  max-width: 168px;
  height: 88px;
  flex-basis: calc((100% - 16px)/2);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);

}

.customers-icon {
  fill: var(--subtle-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--pressed-state-color);
}


.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state-color);
}

/*===========================Footer================================*/
 .footer-section {
   background-color: var(--dark-color);
   padding: 96px 0;

 }

 .footer-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }

 .footer-block {
   max-width: 268px;
   margin: 0 auto;
   margin-bottom: 72px;
   
 }


 .logo-footer {
   display: block;
   margin-bottom: 16px;
text-align: center;
 }

 .logo-footer-accent {
   color: var(--light-color);
 }

 .footer-text {
   color: var(--accent-color);
 }

 .footer-title {
   color: var(--white-color);
   font-weight: 500;
   font-size: 16px;
   line-height: calc(24/16);
   letter-spacing: 0.02em;
   margin-bottom: 16px;
  text-align: center;
 }

 .footer-list-sns {
   display: flex;
   gap: 16px;
   max-width: 208px;
  margin-bottom: 0;

 }

 .footer-item-sns {
   width: 40px;
   height: 40px;
 }

 .footer-link-sns {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   transition: background-color var(--transition-duration) var(--transition-timing-function);
 }

 .footer-link-sns:hover,
 .footer-link-sns:focus {
   background-color: var(--success-color);
 }

 @media screen and (max-width: 1199px){
  .form-subscribe-container {
      text-align: center;
      width: 100%;
    }
 }


 .form-field {
   position: relative;
   display: flex;
   align-items: center;
   margin-bottom: 8px;
 }
 


 .footer-button-subscribe {
   color: var(--white-color);
   padding: 8px 24px;
   background-color: #4D5AE5;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   transition: var(--transition-duration) var(--transition-timing-function);
   display: flex;
   align-items: center;
 }

 .footer-button-subscribe:focus,
 .footer-button-subscribe:hover {
   background-color: var(--pressed-state-color);
 }

 .subscribe-form-input {
   width: 100%;
   height: 40px;
   font-weight: 400;
   font-size: 12px;
   color: rgba(255, 255, 255, 0.6);
   background-color: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   padding: 8px 20px;
   letter-spacing: 0.04em;
   box-sizing: border-box;
   outline: none;
 }

 .subscribe-form-input:not(:placeholder-shown) {
   color: var(--white-color);
 } 

 /*===========================Modal================================*/

 .backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.5);
   transition: opacity var(--transition-duration) var(--transition-timing-function);
   opacity: 1;
 }

 .modal {
   max-width: 600px;
   min-height: 586px;
   padding: 24px 24px;
   background-color: #FCFCFC;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   transition: var(--transition-duration) var(--transition-timing-function);
  width: 100%;

 } 

 .backdrop.is-hidden {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
 }

 .backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(1.1);
 }

 .modal-close-button {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   margin-left: auto;
   background-color: var(--accent-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   transition: var(--transition-duration) var(--transition-timing-function);
   cursor: pointer;
margin-bottom: 24px;
 }

 .modal-close-button:active {
   background-color: var(--primary-brand-color);
   fill: var(--white-color);
 }

 .form {
   margin-top: 16px;
 }
.modal-title {
text-align: center;

}

 .modal-input {
   width: 360px;
   margin-top: 4px;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding: 8px 38px;
   transition: var(--transition-duration) var(--transition-timing-function);
   outline: none;
   width: 100%;
 }

 .modal-input:focus,
 .modal-textarea:focus {
   border: 1px solid var(--primary-brand-color);
 }

 .modal-input:focus+.icon-input,
 .modal-textarea:focus+.icon-input {
   fill: #4D5AE5;
 }


 .input-text {
   font-weight: 400;
   font-size: 12px;
   line-height: calc(16/12);
   letter-spacing: 0.04em;
   width: 100%;
 }

 .modal-form-text {
   color: #8E8F99;
   line-height: calc(14/12);
   letter-spacing: 0.01em;
 }

 .modal-textarea {
   resize: none;
   width: 100%;
   height: 120px;
   margin-top: 4px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding: 8px 16px;
   transition: var(--transition-duration) var(--transition-timing-function);
   outline: none;
 }

 .form-checkbox {
   display: flex;
   align-items: center;
   margin-top: 16px;
   gap: 8px;
   color: #757575;
   width: 100%;
 }

 .modal-button {
  display: block;
   padding: 14px 32px;
   width: 169px;
margin-right: auto;
margin-left: auto;
   margin-top: 24px;
   background-color: var(--primary-brand-color);
   color: var(--white-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: 0;
   transition: var(--transition-duration) var(--transition-timing-function);
 }

 .modal-button:hover,
 .modal-button:focus {
   background-color: var(--pressed-state-color);

 }

 .icon-input {
   position: absolute;
   top: 100%;
   transform: translateY(-160%);
   left: 16px;
   fill: var(--dark-color);
   transition: var(--transition-duration) var(--transition-timing-function);
 }

 .checkbox-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 16px;
   height: 16px;
   background-color: var(--white-color);
   border: 1.25px solid #2E2F42;
   border-radius: 2px;
   margin-right: 8px;
   fill: var(--white-color)
 }

 .checkbox:checked+.checkbox-icon {
   background-color: var(--pressed-state-color);
   border: 0;
   fill: var(--light-color);
 }

 .label-checkbox {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   
 }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #FCFCFC;
  transform: translateX(100%);
  transition: var(--transition-duration) var(--transition-timing-function);
  z-index: 999;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.menu.is-open {
  transform: translateX(0);
}

.menu-navigation{
margin-top: 16px;
}


.menu-navigation-item:not(:last-child),
.menu-address-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-navigation-link {
  color: var(--dark-color);
  transition: color var(--transition-duration) var(--transition-timing-function)
}

.menu-address {
font-weight: 600;
font-size: 20px;
line-height: calc(24/20);
}

.menu-contacts-link {
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.menu-contacts-link:active,
.menu-contacts-link:hover,
.menu-contacts-link:focus,
.menu-navigation-link:active,
.menu-navigation-link:hover,
.menu-navigation-link:focus {
  color: var(--pressed-state-color);}

.menu-block-sns {
  margin-top: 48px;
    max-width: 100%;
}

.menu-list-sns {
  display: flex;
  max-width: 328px;
justify-content: space-between ;}

.menu-item-sns {
  width: 40px;
  height: 40px;
}

.menu-link-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.menu-link-sns:hover,
.menu-link-sns:focus {
  background-color: var(--pressed-state-color);
}

.menu-close-button {
  margin-bottom: 16px;
}

.mobile-active {
  color: var(--pressed-state-color);
}

.navigation-link{
    color: var(--dark-color);
font-weight: 500;
      transition: color var(--transition-duration) var(--transition-timing-function)
}
.contacts-link {
  color: var(--dark-color);
  font-style:normal;
  transition: color var(--transition-duration) var(--transition-timing-function)
}

.list-navigation {
  display: flex;
}

.navigation-item {
  position: relative;
}

.active-navigation>a {
  color: var(--pressed-state-color);
}

.active-navigation::after {
  position: absolute;
  top: 43px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state-color);
  border-radius: 2px;
}

.navigation-item:not(:last-child),
.address-item:not(:last-child) {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {


  .list-features-flex>li:not(:last-child) {
    margin-bottom: 72px;
  }

  .backdrop {
    overflow-y: scroll;
  }

  .form-field-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-block-sns {
    margin-bottom: 70px;
  }

  .backdrop {
    padding: 96px 18px;
  }
    .modal {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
}


@media screen and (min-width: 768px){

  

.header-container {
    display: flex;
    justify-content: space-between;
  }
  .container {
    position: relative;
    max-width: 768px;
  }

  .navigation,
    .address{
    display: flex;
  }
.address-list{
  font-size: 12px;
}
  .menu-button {
    display: none;
}
.hero-section {
  padding: 112px 137px 108px;
  max-width: 768px;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-768px.jpg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-768px@2x.jpg);
  }
}


.hero-title {
  max-width: 494px;
  font-size: 56px;
    line-height: calc(60/56);
  margin-bottom: 40px;
}

.features-item-block {
  display: none;
}

.features-item-title {
  color: var(--dark-color);
  margin-bottom: 8px;
}

.list-features-flex>li:not(:nth-last-child(-n + 2)) {
  margin-bottom: 72px;
}

.list-features-flex {
  display: flex;
  flex-wrap: wrap;
gap: 24px;
}

.list-features-flex>li {
  flex-basis: calc((100%-24)/2);
  max-width: 356px;
}

/* Our work and our team */

.list-team-flex {
  display: flex;
  flex-direction:row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  
}

.item-team {
  flex-basis: calc((100% - 24px)/2);
  max-width: 264px;
}

.section-team {
  padding: 96px 108px 104px;
}

.list-team-flex {
  display: flex;
  gap: 24px;
}

.block-team-member {
  background-color: var(--white-color);
  padding: 32px 16px;
}

/* Customers  */


.list-customers {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  padding: 0 108px;
  
}

.customers-list-item {
  max-width: 168px;
  flex-basis: calc((100% - 48px)/3);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  transition: border var(--transition-duration) var(--transition-timing-function);

}

.customers-icon {
  fill: var(--subtle-text-color);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--pressed-state-color);
}


.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state-color);
}

/* footer */
.footer-section {

}

.footer-container {
  display: flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 108px;
  flex-wrap: wrap;
  gap: 0 24px;

}

.footer-block {
  max-width: 268px;
  margin: 0;
  margin-bottom: 72px;

}


.logo-footer {
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.footer-title {
  text-align: start;
}



.form-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form-field-footer {
  display: flex;
  flex-direction: raw;
  align-items: center;
  gap: 24px;
}

.footer-button-subscribe {
  color: var(--white-color);
  padding: 8px 24px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: var(--transition-duration) var(--transition-timing-function);
  display: flex;
  align-items: center;
  gap: 16px;
}


.subscribe-form-input {
  width: 264px;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%; 
  max-width: 392px; 
  max-width: 408px;
  transform: translate(-50%, -50%) scale(1);
}}

@media screen and (min-width: 1200px) {
  
  .container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  }

  .page-header {
  max-height: 76px;

  }
.address {
  margin-left: auto;
}

  .address-list {
  font-size: 16px;
  }

  .hero-section {
  padding: 188px 137px 108px;
  max-width: 1440px;
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-1440px.jpg);
  }
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-1440px@2x.jpg);
    }
  }


  .active-navigation::after {
  top: 45px;
  }

  .navigation-item:not(:last-child),
  .address-item:not(:last-child) {
  margin-right: 40px;
  }

  .address-list {
  display: flex;
  }

  .logo-header {
  margin-right: 76px;
  }

  /* Hero*/
  .hero-section {

  padding: 188px 0;
  max-width: 1440px;
  }

  .section {
  padding: 120px 0;
  }

  .section-features {
  padding-bottom: 0;
  }

  .hero-title {
  max-width: 494px;
  font-size: 56px;
  line-height: calc(60/56);
  }


  /* Features */

  .list-features-flex>li {
  flex-basis: calc(100%/4);
  max-width: 264px;
  }

  .features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(20/24);
  text-align: start;
  }


  .features-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 112px;
  margin-bottom: 8px;
  background-color: var(--light-color);
  border-radius: 4px;
  }

  .list-features-flex>li:not(:nth-last-child(-n+2)) {
    margin-bottom: 0px;
  }

  /* Our work and our team */

  .list-work-flex {
  display: flex;
  gap: 24px;
  }

  .list-work-flex>li {
  flex-basis: auto;
  }

  .our-work-title,
  .our-team-title,
  .customers-title {
  font-size: 36px;
  line-height: calc(40/36);
  color: var(--dark-color);
  margin-bottom: 72px;
  text-align: center;
  }

  /* Customers */

.list-customers {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  padding: 0 108px;

}

.customers-list-item {
  min-width: 168px;
  flex-basis: 100%
}


  /* Footer */
.footer-section {
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  gap: 0px;
}

.footer-block {
  max-width: 268px;
  margin: 0;
  margin-bottom: 0px;
  margin-right: 120px;
}

.footer-block-sns {
  margin-right: 80px;
}

.logo-footer {
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.footer-title {
  text-align: start;
}


.form-subscribe-container {
width: 453px;
}

.form-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.form-field-footer {
  display: flex;
  flex-direction: raw;
  align-items: center;
  gap: 24px;
}

.footer-button-subscribe {
  color: var(--white-color);
  padding: 8px 24px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: var(--transition-duration) var(--transition-timing-function);
  display: flex;
  align-items: center;
  gap: 16px;
}


.subscribe-form-input {
  width: 264px;
}
}